<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Theodorus2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <gcConcurrent enabled="true"/>
    <Thread_UseAllCpuGroups enabled="true"/>
    <GCCpuGroup enabled="true"/>
    <gcServer enabled="true"/>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Theodorus2.Properties.Settings>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="EditorHeight" serializeAs="String">
        <value>3*</value>
      </setting>
      <setting name="ResultHeight" serializeAs="String">
        <value>7*</value>
      </setting>
      <setting name="ResultLimit" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ShowLineNumbers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Font" serializeAs="String">
        <value>Consolas</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ResultStyle" serializeAs="String">
        <value>
    body {
        font-family: ""Consolas"", monospace;
        font-size: 14px;
    }

    .resultset {
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 1em;
        border-bottom: 2px solid black;
    }

    .query {
        background: #DDD;
        margin: 0 auto;
        border: 1px solid black;
        padding: 4px;
        margin-bottom: 1em;
        white-space: pre;
    }

    .duration {
        float: right;
        margin-top: -2.5em;
        margin-right: 2em;
    }

    .duration:after {
        content: "" ms"";
    }

    .duration:before {
        content: ""Execution time: "";
    }

    .error {
        color: Red;
    }
			
    .error, .message {
        margin-left: 2em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
					
    table {
        margin-bottom: 1em;
        margin-left: 2em;
        border-collapse: collapse;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        clear: both;
        width: auto;
    }

    table tr:nth-child(even) {
        background-color: #EEE;
    }

    table tr:hover {
        background-color: #BBB;
    }

			
    table thead, table tfoot {
        border-bottom-style: solid;
        border-bottom-color: black;
        border-bottom-width: 1px;
        background-color: #CCC;
        font-weight: bold;
    }

    table td {
        border-width: 1px;
        border-left-style: solid;
        border-right-style: solid;
        border-left-color: black;
        border-right-color: black;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 2px;
        padding-bottom: 2px;
    }
</value>
      </setting>
    </Theodorus2.Properties.Settings>
  </userSettings>
</configuration>