<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <variable name="customLogFormat"
            value="${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}|${level}|${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true}|${message}|${exception:format=type,message,method,stacktrace:innerFormat=type,message,method,stacktrace:maxInnerExceptionLevel=10:innerExceptionSeparator=^separator=|}"/>

  <targets>
    <target xsi:type="AsyncWrapper" name="Debugger" overflowAction="Block" batchSize="1" queueLimit="1024">
      <target xsi:type="Debugger" layout="${customLogFormat}"/>
    </target>

    <target xsi:type="AsyncWrapper" overflowAction="Block" name="file" batchSize="1" queueLimit="1024">
      <target xsi:type="File"
					fileName="${basedir}/logs/Theodorus2-${shortdate}.log"
					createDirs="true"
					concurrentWrites="false"
					fileAttributes="Compressed"
					layout="${customLogFormat}"/>
    </target>

  </targets>
</nlog>